1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = "This is a test of the emergency text system"
print(test1)

# save test1 to a file named test.txt
with open('test.txt','w') as f:
    f.write(test1)
    f.close()

This is a test of the emergency text system

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
# get the 
import os
base_path = os.getcwd()
text_file = os.path.join(base_path, "test.txt")

with open(text_file,'r') as file:
    test2 = file.read()
    
print(test2) 
print(test1 == test2)

This is a test of the emergency text system
True

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [19]:
text = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

with open('books.csv','w') as f:
    f.write(text)
    f.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3

db = sqlite3.connect('books.db')

cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

5. Read books.csv and insert its data into the book table.

In [22]:
import csv
import sqlite3

conn = sqlite3.connect("books.db")

cursor = conn.cursor()

with open("books.csv","r") as f:
    reader = csv.DictReader(f)
    for row in reader:
        title = row['title']
        author = row['author']
        year = row['year']
        insert_records = (title, author, year)
        insert_query = '''INSERT INTO books(title, author, year) VALUES(?, ?, ?)'''
        cursor.execute(insert_query, insert_records)
        
conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [25]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()
results = cursor.execute("SELECT title FROM books ORDER BY title ASC")

for res in results:
    print(res[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [26]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()
results = cursor.execute("SELECT * FROM books ORDER BY year")

for record in results:
    print(record)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [29]:
# install sqlalchemy
# !pip install SQLAlchemy

import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [32]:
!python -m pip install redis

Requirement already satisfied: redis in /home/ghorai/miniconda3/envs/venv/lib/python3.10/site-packages (4.5.1)
Requirement already satisfied: async-timeout>=4.0.2 in /home/ghorai/miniconda3/envs/venv/lib/python3.10/site-packages (from redis) (4.0.2)

In [39]:
import redis

# create the redis connection
r_conn = redis.Redis(host='localhost', port=6379)

# add key value pairs to the Redis hash
hashName = "test"
r_conn.hmset(hashName,  {"count":1, "name":"Fester Bestertester"})

# print
r_conn.hgetall(hashName)

/tmp/ipykernel_11691/2817046949.py:8: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r_conn.hmset(hashName,  {"count":1, "name":"Fester Bestertester"})

{b'count': b'1', b'name': b'Fester Bestertester'}

10. Increment the count field of test and print it.

In [40]:
r_conn.hincrby(hashName, "count", 1)
r_conn.hget(hashName, "count")

b'2'